<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" style="height: 100%;">
    <head>
        {% include "includes/head.html" %}
        <title>{% block title %}{% endblock %} | ToDo</title>
    </head>
    <body class="d-flex align-items-center py-4 bg-body-tertiary" style="height: 100%;">
        {% block content %}{% endblock content %}
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
