{% extends "layouts/base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-md-12 bg-light-subtle rounded-3 p-5 shadow">
            <h1><i class="fa-solid fa-address-card"></i> About Us</h1>
            <p class="fs-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur lectus quis faucibus ultrices. Sed ut ultricies eros. Proin eget lacus et risus feugiat interdum eget tincidunt nisi. Sed porta velit sit amet vehicula tempor. Aenean neque sem, interdum nec libero quis, cursus finibus dui. Integer sed ultrices erat. Nullam quis dolor at sapien tempor tincidunt. Nam aliquam ullamcorper est at tempus. Curabitur pulvinar gravida ornare. Ut hendrerit ornare leo, non fermentum nulla consequat lobortis. Praesent condimentum molestie justo a ultricies. Mauris erat lorem, iaculis ut viverra sit amet, elementum iaculis nunc. Aliquam ultricies tempus turpis, id imperdiet nulla euismod sed. Duis sodales tortor a condimentum dapibus. Pellentesque non dolor magna.
                
                Fusce nec arcu ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus auctor, odio eu feugiat dignissim, risus orci viverra dolor, eu bibendum nunc odio id nisi. Proin tempus neque in lacus facilisis molestie. Morbi facilisis, libero vitae pretium varius, eros lorem facilisis quam, id molestie quam eros pellentesque odio. Aenean vel arcu purus. Suspendisse orci ante, iaculis ornare massa consectetur, sodales vulputate sapien. Sed in ultricies turpis, a efficitur arcu. Morbi tempus vehicula elit at rhoncus. Phasellus efficitur viverra faucibus. Vestibulum ut nisi vitae libero consectetur ultricies sit amet ac mauris. Sed ut sem quis ex consectetur elementum. Praesent eu accumsan lacus, mollis vulputate magna. Sed lobortis ante sed purus eleifend molestie.
                
                Proin mi tortor, molestie eget dignissim sit amet, tincidunt in velit. Ut venenatis neque vel tristique rhoncus. In hac habitasse platea dictumst. Nunc id eros sed nulla consectetur consectetur id vel felis. Nulla ultricies tortor vitae efficitur suscipit. Aenean hendrerit sit amet orci non gravida. Integer et euismod nulla. Proin eros ex, bibendum ac orci nec, imperdiet commodo est.
                
                Pellentesque et enim sit amet velit feugiat hendrerit nec ac est. Mauris quis fringilla turpis. Phasellus suscipit non nulla vitae semper. Aenean interdum vulputate arcu, condimentum euismod neque venenatis et. Duis quis lobortis enim, non ornare dui. Curabitur ut erat sodales, laoreet libero sit amet, maximus ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam molestie maximus diam. Aenean dapibus mauris eget ornare pulvinar. Suspendisse ornare maximus augue a ornare. Morbi varius accumsan purus, eget pellentesque quam vulputate ut. Maecenas posuere est maximus orci condimentum venenatis. Sed feugiat metus egestas, viverra diam sit amet, sagittis quam. Vivamus id dapibus metus.
                
                Duis posuere auctor dui sit amet interdum. Duis neque lectus, accumsan eget hendrerit quis, sagittis sed felis. Nunc sit amet porta magna. Vestibulum nec libero eget elit mattis sagittis. Curabitur vel fermentum mauris. Morbi quam turpis, lacinia id blandit ut, porttitor sed lorem. Phasellus rutrum, tellus eget convallis dapibus, ex leo congue quam, in faucibus neque nisi quis augue. Pellentesque lobortis tristique vehicula. Phasellus ullamcorper odio at dolor blandit, ultrices convallis lectus ullamcorper. Quisque eu libero vehicula, consequat sapien vitae, dignissim dui. Maecenas commodo metus in aliquam maximus. Curabitur dictum turpis mauris, nec gravida lectus scelerisque sed.
            </p>
        </div>
    </div>
</div>

{% endblock content %}
