{% extends "layouts/base.html" %}

{% block title %} My Profile {% endblock %}

{% block content %}
<h1>Hello {{ current_user.username }}</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createTaskModal">New Task</button>

<div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">New Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createTaskForm" method="post" action="{{ url_for('tasks.create_task') }}">
                    {{ form.hidden_tag() }}
                    
                    <div class="mb-3">
                        <label for="createTaskFormTitle" class="fs-5">Title</label>
                        {{ form.title(id="createTaskFormTitle", class="form-control") }}
                    </div>
                    <div class="mb-3">
                        <label for="createTaskFormDescription" class="fs-5">Description</label>
                        {{ form.description(id="createTaskFormDescription", class="form-control") }}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {{ form.submit(id="createTaskFormSubmit", class="btn btn-primary") }}
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/task_form.js') }}"></script>

<div class="container">
    {% for row in rows %}
    <div class="row">
        {% for task in row %}
        <div class="col-md-3 mb-4" id="task-{{ task.id }}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ task.title }}</h5>
                    <p class="card-text">{{ task.description }}</p>
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button hx-delete="/tasks/{{ task.id }}" hx-swap="delete" hx-target="#task-{{ task.id }}" type="button" class="btn btn-sm btn-danger">
                        <i class="fa fa-trash"></i>
                    </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock content %}
