{% extends "layouts/base.html" %}

{% block title %} My Profile {% endblock %}

{% block content %}
<h1>Welcome, {{ current_user.username }}</h1>

<div>
    <form method="post" action="{{ url_for('tasks.create_task') }}">
        {{ form.hidden_tag() }}
        
        <h4>Create Task</h4>
        
        <div>
            {{ form.title(placeholder="New Task") }}
        </div>
        <div>
            {{ form.description(placeholder="Task Description") }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>

<div classs="container">
    {% for row in rows %}
    <div class="row">
        {% for task in row %}
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ task.title }}</h5>
                    <p class="card-text">{{ task.description }}</p>
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock content %}
