{% extends "layouts/base-auth.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<main class="w-100 m-auto" style="max-width: 320px; padding: 1rem">
    <form method="post" action="{{ url_for('auth.signup') }}">
        {{ form.hidden_tag() }}

        <h1 class="h3 mb-3 fw-normal">Sign Up</h1>

        {% if msg %}
        <span class="text-danger">{{ msg }}</span>
        {% endif %}

        <div class="form-floating">
            {{ form.username(id="usernameInput", class="form-control",
            placeholder="Username") }}
            <label for="usernameInput">Username</label>
        </div>
        <div class="form-floating">
            {{ form.email(id="emailInput", class="form-control",
            placeholder="Email") }}
            <label for="emailInput">Email</label>
        </div>
        <div class="form-floating">
            {{ form.password(id="passwordInput", class="form-control",
            placeholder="Password") }}
            <label for="passwordInput">Password</label>
        </div>
        <div class="form-floating">
            {{ form.confirm_password(id="confirmPasswordInput",
            class="form-control", placeholder="Confirm Password") }}
            <label for="confirmPasswordInput">Confirm Password</label>
        </div>
        <div class="form-floating">
            {{ form.invite_code(id="inviteCodeInput", class="form-control",
            placeholder="Invite Code") }}
            <label for="inviteCodeInput">Invite Code</label>
        </div>
        {{ form.submit(class="btn btn-primary w-100 py-2 mt-3") }}
        <div>
            <small>Have an Account?</small>
            <a href="{{ url_for('auth.signin') }}">Sign In</a>
        </div>
    </form>
</main>

{% endblock content %}
