{% extends "layouts/base.html" %}

{% block title %} Sign Up {% endblock %}

{%block content %}

<section>
    <div>
        <div>
            <form method="post" action="{{ url_for('auth.signup') }}">
                {{ form.hidden_tag() }}
                
                <h4>Sign Up</h4>
                
                <div>
                    {{ form.username(placeholder=form.username.label.text) }}
                </div>
                <div>
                    {{ form.email(placeholder=form.email.label.text) }}
                </div>
                <div>
                    {{ form.password(placeholder=form.password.label.text) }}
                </div>
                <div>
                    {{ form.confirm_password(placeholder=form.confirm_password.label.text) }}
                </div>
                <div>
                    {{ form.invite_code(placeholder=form.invite_code.label.text) }}
                </div>
                <div>
                    {{ form.submit() }}
                </div>
            </form>
        </div>
        <div>
            <small>Have an Account?</small>
            <a href="{{ url_for('auth.signin') }}">Sign In</a>
        </div>
    </div>
</section>

{% endblock content %}
