{% extends "layouts/base.html" %}

{% block title %} Sign In {% endblock %}

{% block content %}

<section>
    <div>
        <div>
            <form method="post" action="{{ url_for('auth.signin') }}">
                {{ form.hidden_tag() }}
                
                <h4>Sign In</h4>
                
                {% if msg %}
                    <span>{{ msg }}</span>
                {% endif %}
                
                <div>
                    {{ form.username(placeholder=form.username.label.text) }}
                </div>
                <div>
                    {{ form.password(placeholder=form.password.label.text) }}
                </div>
                <div>
                    {{ form.submit() }}
                </div>
            </form>
        </div>
        <div>
            <small>No Account?</small>
            <a href="{{ url_for('auth.signup') }}">Sign Up</a>
        </div>
    </div>
</section>

{% endblock content %}