{% extends "layouts/base.html" %}

{% block title %} Sign In {% endblock %}

{%block content %}

<section>
    <div>
        <div>
            <form method="post" action="{{ url_for('auth.signin') }}">
                
                {{ form.hidden_tag() }}
                
                <div>
                    {{ form.username.label() }}
                    {{ form.username() }}
                </div>
                <div>
                    {{ form.password.label() }}
                    {{ form.password(type="password") }}
                </div>
                <div>
                    {{ form.submit() }}
                </div>
            </form>
        </div>
        <div>
            <small>No Account?</small>
            <a href="{{ url_for('auth.signup') }}">Sign Up</a>
        </div>
    </div>
</section>

{% endblock content %}